.navbar.tds-nav.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "#"} That Don't Suck
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.active
          %a{href: "home"} Home
        %li
          %a{href: "about"} About
        %li
          %a{href: "top_topics"} Top Topics
        %li
          %a{href: "leaderboard"} Leaderboard 
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            Me
            %b.caret
          %ul.dropdown-menu
            %li
              %a{href: "/users/this-guy"} My Profile
            %li
              %a{href: "/users/this-guy/edit"} Edit Profile
            %li
              %a{href: "settings"} Settings
            %li.divider
            %li
              %a{href: "sign_out"} Sign Out

          %li
            %a{href: "notifications", title: "Notifications"} 
              %span.badge.alert-success 14 

      %form.navbar-form.navbar-right{role: "search"}
        .form-group
          %input.form-control{placeholder: "Search", type: "text"}
        .form-group  
        %button.btn.btn-success{type: "submit"} Search
        %a.btn.btn-info{href: "#sign_in"} Sign In
        %a.btn.btn-primary{href: "#register"} Register
    .navbar-collapse