= content_for :head do
  %title That Don't Suck - Find Things That Don't Suck

.jumbotron#tds-home
  #carousel-example-generic.carousel.slide
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
      %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
      %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
    .carousel-inner
      .item.active
        %img{alt: "", src: "https://s3.amazonaws.com/ooomf-com-files/TIDqBLgQw6IUt5ZHKS0f_11891558035_eafdf53bf0_o.jpg"}
        .carousel-caption.tds-slide-text
          .tds-vertical-align-text
            %h2.tds-slide-text-background
              %span.tds-lobster Places to Camp 
              that don't suck
      .item
        %img{alt: "", src: "https://s3.amazonaws.com/ooomf-com-files/RpgvvtYAQeqAIs1knERU_vegetables.jpg"}
        .carousel-caption.tds-slide-text
          .tds-vertical-align-text
            %h2.tds-slide-text-background 
              %span.tds-shadows Vegetarian Recipies 
              that don't suck
      .item
        %img{alt: "", src: "https://s3.amazonaws.com/ooomf-com-files/QSTuECF6S9mZ1CBm9cog_DSC07753.jpg"}
        .carousel-caption.tds-slide-text
          .tds-vertical-align-text 
            %h2.tds-slide-text-background 
              %span.tds-coming-soon Cities to Live In 
              that don't suck

    %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic"}
      %span.icon-prev
    %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic"}
      %span.icon-next

  .container
    %h1 Welcome!
    %p 
      Ever had trouble finding free stock photos that don't suck? Maybe vegetarian Mexican recipes? Perhaps cheap web hosting? That Don't Suck is the place where you can find things that don't suck.
    %p
      %a.btn.btn-primary.btn-lg Learn more &#187;
.container
  .row
    .col-lg-4
      %h2 Find things that don't suck
      %p Search for whatever you want suggestions for. If someone has already asked for it, check out the recommendations for it. If not, ask and people will start sugessting. You'll earn points for asking as well.
      %p
        %a.btn.btn-default{href: "#"} View details &#187;
    .col-lg-4
      %h2 Suggest things that don't suck
      %p Look through recently asked-for topics, popular ones, trending, or cold cases. Suggest things that don't suck and earn points. Become an expert in a field and your suggestions count for more.
      %p
        %a.btn.btn-default{href: "#"} View details &#187;
    .col-lg-4#contact
      %h2 Vote on things that suck the least
      %p Earn points by voting on which suggestions are the best. Suggestions with the most votes will be pushed to the top of the list. You can also comment on suggestions. Expert votes count for more.
      %p
        %a.btn.btn-default{href: "#"} View details &#187;

