= content_for :head do
  %title That Don't Suck - Find Things That Don't Suck

.jumbotron#tds-home
  #carousel-example-generic.carousel.slide
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
      %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
      %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
    .carousel-inner
      .item.active
        %img#testy{alt: "", src: "https://s3.amazonaws.com/ooomf-com-files/TIDqBLgQw6IUt5ZHKS0f_11891558035_eafdf53bf0_o.jpg"}
        .carousel-caption.tds-home-slider-text
          %h1.tds-vertical-align-text This is the First slide
      .item
        %img{alt: "", src: "https://s3.amazonaws.com/ooomf-com-files/RpgvvtYAQeqAIs1knERU_vegetables.jpg"}
        .carousel-caption.tds-home-slider-text
          %h1.tds-vertical-align-text slide 2
      .item
        %img{alt: "", src: "https://s3.amazonaws.com/ooomf-com-files/QSTuECF6S9mZ1CBm9cog_DSC07753.jpg"}
        .carousel-caption.tds-home-slider-text
          %h1.tds-vertical-align-text slide 3

    %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic"}
      %span.icon-prev
    %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic"}
      %span.icon-next

  .container
    %h1 Hello, world!
    %p This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
    %p
      %a.btn.btn-primary.btn-lg Learn more &#187;
.container
  / Example row of columns
  .row
    .col-lg-4
      %h2 Heading
      %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      %p
        %a.btn.btn-default{href: "#"} View details &#187;
    .col-lg-4
      %h2 Heading
      %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      %p
        %a.btn.btn-default{href: "#"} View details &#187;
    .col-lg-4#contact
      %h2 Heading
      %p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      %p
        %a.btn.btn-default{href: "#"} View details &#187;

