= content_for :head do
  %title Register

.container
  %form.form-register
    %h2.form-register-heading Register
    %input.form-control{placeholder: "Full Name", type: "text"}
    %input.form-control{placeholder: "Email address", type: "text"}
    %input.form-control{placeholder: "Password", type: "password"}
    %button.btn.btn-lg.btn-primary.btn-block{type: "submit"} Register
