= content_for :head do
  %title Sign In

.container
  %form.form-sign-in
    %h2.form-sign-in-heading Sign In
    %input.form-control{placeholder: "Email address", type: "text"}
    %input.form-control{placeholder: "Password", type: "password"}
    %button.btn.btn-lg.btn-primary.btn-block{type: "submit"} Sign In
    %a{href: "#forgot_password"}
      %small.text-muted Forgot Password?
