.jumbotron#tds-home
  padding-top: 0px
  padding: 0px

body
  padding-top: 50px
  padding-bottom: 20px

.tds-nav
  background-color: #222222
  border-color: transparent

.tds-slide-text
  height: 100%
  position:relative

.tds-vertical-align-text
  position: absolute
  top: 50%
  height: 6em
  margin-top: -3em

.tds-slide-text-background
  background: rgba(black, 0.5)
  padding: 2px

.tds-lobster
  font-family: 'Lobster', 'cursive'

.tds-shadows
  font-family: 'Shadows Into Light', 'cursive'

.tds-coming-soon
  font-family: 'Coming Soon', 'cursive'