.jumbotron#tds-home
  padding-top: 0px
  padding: 0px

body
  padding-top: 50px
  padding-bottom: 20px

.tds-nav
  background-color: #222222
  border-color: transparent

.tds-home-slider-text
  height: 100%
  
.tds-home-slider-text:before
  content: ' '
  display: inline-block
  vertical-align: middle 
  height: 100%

.tds-vertical-align-text 
  display: inline-block
  vertical-align: middle
  font: 16px/1 Lato, Helvetica Neue, Helvetica, Arial, sans-serif